// .display-flex {
//   display: flex;
// }

.flex-1 {
  flex: 1 0 300px;
}

.flex-2 {
  flex: 1 0 400px;
}

.flex-3 {
  flex: 1 0 500px;
}

.flex-4 {
  flex: 1 0 600px;
}

.flex-5 {
  flex: 1 0 700px;
}

.flex-6 {
  flex: 1 0 800px;
}
